extends layout
block body
  header.home
    h1 TVMaze Client
    div
      p 
        a(href='/user') #{username}
      a.out(href='/auth/logout') logout
  section.search
    form(id='form-search', method='get', action='#')
      +input-simple("text","search","Movie or TV Serie","Search", "search")
      +submit-info("Search")
  section.list
    header
      h2 Movies
    div.results
      p Please, search a movie
  +alert-i-success("Movie saved :)")
  +alert-i-danger("Error saving movie :(")
