extends layout
block body
  section.loginarea
    header
      h1 TVMAZE TEST
    article
      form(method='post',action='/auth/dologin')
        +input("text","email","user@email","Email","email")
        +input("password","password","password","Password","password")
        +submit-primary("Login")
        a.btn-signin(href='/auth/signin') Signin
