extends layout
block body
  section.loginarea
    header.signin
      h1 TVMAZE TEST
      h2 Signin
    article
      form(method='post', action='/auth/dosignin')
        +input("text","user","username","Username", "username")
        +input("email","email","user@email","Email", "email")
        +input("password","password","password","Password", "password")
        +submit-success("Create")
        a.btn-signin(href='/auth/login') Login
