extends layout
block body
  header.home
    h1 TVMaze Client
    div
      p 
        a(href='/user') #{username}
      a.out(href='/auth/logout') logout
  section.list
    header
      h2 Favourite Movies
      nav
        a(href='/app/home') Back to home
    each val in favs
      article(id=''+val.id)
        header
          h3 #{val.name}
          figure
            img(src=''+val.image.medium)
        div.movie-data
          p !{val.summary}
          div.movie-info
            p
              b
                Rating 
              val.rating.average
            button.btn.btn-info.leavefav(data-id=''+val.id) Unfollow
  +alert-i-success("Movie Unfollowed :)")
  +alert-i-danger("Error unfollowing movie :(")
