html, body {
  min-height: 100%;
  height: 100%;
}

section.loginarea {
  background-color: #333;
  color: #fff;
  text-align: center;
  position: relative;
  min-height: 100%;
}

  section.loginarea header {
    background-color: #fff;
    color: #222;
    height: 200px;
  }

    section.loginarea header h1 {
      line-height: 200px;
    }

    section.loginarea header.signin h1 {
      line-height: 100px;
    }

    section.loginarea header.signin h2 {
      font-size: 1.4em;
      color: #999;
    }

  section.loginarea article {
    text-align: left;
    padding-top: 50px;
    max-width: 480px;
    margin: 0 auto;
  }

    section.loginarea article a.btn-signin {
      float: right;
      margin-top: 20px;
    }

    section.loginarea article a.btn-signin:hover {
      color: #eee;
    }

header.home,
section.search {
  background-color: #333;
  color: #fff;
  position: relative;
  padding: 2rem 3rem;
  margin-bottom: 2px;
}

section.search {
  background-color: #888;
}

  header.home h1 {
    margin: 0;
  }

  header.home div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3rem;
  }
    header.home div a {
      color: skyblue;
    }

    header.home div a.out {
      color: tomato;
    }

section.search form {
  text-align: center;
}

section.search input#search {
  width: 70%;
  display: inline-block;
  margin-right: 5px;
}

section.list {
  width: 80%;
  margin: 0 auto;
}

  section.list article {
    font-size: 0;
    margin-bottom: 4rem;
  }

    section.list article header,
    section.list article .movie-data {
      display: inline-block;
      vertical-align: top;
      font-size: 14px;
    }

    section.list article header {
      text-align: right;
      width: 30%;
      font-size: 14px;
    }

    section.list article .movie-data {
      width: 70%;
      box-sizing: border-box;
      padding-left: 20px;
    }

    section.list article .movie-data > p {
      margin-top: 5.3rem;
    }

.alert.alert-success,
.alert.alert-danger {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(200px);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.alert.alert-success.open,
.alert.alert-danger.open {
  opacity: 1;
  transform: translateY(0px);
  visibility: visible;
}
